@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
}

header  {
    border-bottom: 2px solid #cfd5db;
}

main {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav div ul {
    display: flex;
    list-style: none;
}

div img {
    height: 2.5rem;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}

.search-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 20rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    background-color: #F4F5F6;
    cursor: pointer;
    overflow-y: hidden;
}

.compose-btn {
    height: 4rem;
    width: 9rem;
    cursor: pointer;
}

.profile-img {
    height: 1.7rem;
    width: 1.7rem;
    border: 3px solid #000;
    border-radius: 50%;
    padding: 0;
    margin: 0.5rem;
    cursor: pointer;
}

.sidebar {
    width: 12rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #cfd5db;
}

.inbox {
    height: 10rem;
    overflow-y: hidden;
}

.meet {
    height: 6.5rem;
    overflow-y: hidden;
}

.hangout {
    height: 5rem;
    overflow-y: hidden;
}

.hangout ul {
    display: flex;
}

.chats {
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
}

.chats a {
    text-decoration: none;
    cursor: pointer;
}

.contact ul {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .hangout-profile {
    height: 1.7rem;
    width: 1.7rem;
    border: 3px solid #000;
    border-radius: 50%;
    padding: 0;
    margin-left: 5px;
    cursor: pointer;
}

.sidebar ul li img {
    height: 1rem;
    padding: 0;
    margin: 0 10px;
}

.sidebar p {
    font-weight: 700;
    padding: 0.5rem;
}

.border {
    border-bottom: 2px solid #cfd5db;
}


.main-content {
    width: 65rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    border-bottom: 2px solid #cfd5db;
    height: fit-content;
}

.main-nav {
    display: flex;
}

.main-nav ul {
    display: flex;
    height: fit-content;
    gap: 1rem;
}

.numbers ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.main-title button {
    height: 2rem;
    width: 5rem;
    border-radius: 8px;
    border: hidden;
}

.subject {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 5rem;
}

.subject h1 {
    font-weight: 100;
}

.link ul {
    display: flex;
    gap: 3rem;
}

.company-logo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.company {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

}

.company-name {
    display: flex;
    padding-top: 0.5rem;
}

.company-info p {
    display: flex;
    align-items: center;
}

.bookmark ul {
    display: flex;
    align-items: center;
}

.bookmark ul li {
    display: flex;
    justify-content: center;
}

.email {
    padding-left: 4.1rem;
}

.email-content {
    background-color: #F4F5F6;
    color: #949ca4;
    height: 20rem;
    width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.right-sidebar {
    border-left: 2px solid #cfd5db;
}

.right-sidebar ul li img {
    height: 4rem;
    width: 4rem;
}

@media (max-width: 1200px) {
    .sidebar {
        display: none;
    }
}

@media (max-width:920px) {
    .bookmark ul {
        display: none;
    }
}

@media (max-width:793px) {
    .email-content {
        display: flex;
        width: 40rem;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:633px) {
    .email-content {
        width: 25rem;
        height: 40rem;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:793px) {
    .right-sidebar {
        display: none;
    }
}

@media (max-width:743px) {
    .numbers {
        display: none;
    }
}

@media (max-width:470px) {
    .main-nav {
        display: none;
    }
}